@import url("/static/css/styles.css");

.button-login {
    padding: 15px 20px;
    background-color: rgb(255, 127, 253);
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color: rgb(48, 1, 50);
    border-radius: 10px;
    border: 1px solid var(--elementos);
    box-shadow: 5px 5px 5px var(--elementos);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.button-login:hover {
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px white;
    border: 1px solid white;
    background-color: rgba(86, 12, 85, 0.289);
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-box {
    flex: 1;
    background-color: rgb(236, 131, 253);
    height: 100%;
    width: 100%;
}

.form-box {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-1);
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

@keyframes show {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

form {
    padding: 50px;
    background-color: rgba(216, 33, 216, 0.118);
    border-radius: 20px;
    border: 1px solid var(--elementos);
    box-shadow: 5px 5px 10px var(--elementos);
    animation: show 2s;
}

form h3 {
    font-size: 35px;
    color: var(--elementos);
    max-width: 300px;
    margin-bottom: 20px;
}

label {
    font-size: 27px;
    color: var(--elementos);
}

.label-check {
    font-size: 15px;
}

input {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    min-width: 260px;
    background-color: rgba(216, 33, 216, 0.118);
    border: 1px solid var(--elementos);
    box-shadow: 5px 5px 10px var(--elementos);
    transition-duration: 0.5s;
    color: rgb(247, 0, 255);
    margin-bottom: 40px;
}

input:focus {
    transition-duration: 0.5s;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    background-color: rgba(255, 0, 255, 0.118);
}

input[type="checkbox"] {
    margin-top: 10px;
    accent-color: rgb(191, 0, 255);
    box-shadow: 0px 0px 0px transparent;
    transform: scale(1.5);
    cursor: pointer;
    min-width: 0;
    padding: 0;
    margin: 10px;
}

@media (max-width: 1100px) {
    .image-box {display: none;}
}

@media (max-width: 500px) {
    form {margin: 10px 10px; padding: 30px; text-align: center; box-shadow: 0px 0px 0px transparent;}
    input {min-width: 200px; box-shadow: 0px 0px 0px transparent;}
}